.menu {
list-style-type: none;
margin: 0;
padding: 0;
text-align: left;

}
.menu-item {
    display: inline-block;
}
.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    

}
